@font-face {
	font-family: 'agbalumo';
	src:  url('font/agbalumo-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.topic {
	font-size: 170px;
	display: flex;
	justify-content: center;
	font-family: 'agbalumo';
    margin-top: -5%;
    text-underline-position
}

.topic2 {
    font-size: 150px;
    display: flex;
    justify-content: center;
    font-family: 'agbalumo';
    margin-top: -15%;

}


.list {
	display: flex;
    flex-wrap: wrap;
	font-size: 30px;


}

.name {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: baseline;
    
}

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: grey;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .button1 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #7FFFD4;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
            .button2 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .button3 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #F0E68C;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .button4 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFA500;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
            .button5 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #8FBC8F;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
            .button6 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #add9b2;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button7 {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button8 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #DB7093;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button9 {
            display: inline-block;
            padding: 10px 20px;
            background-color: #8B0000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

.sentence {
	font-size: 50px;
	margin-top: 10%;
	color: #FFF;
}